body {
    background-color: lightblue;
    color: maroon;
    font-family: arial;
    margin: 0px;
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: black;
}
a:visited {
    color: gold;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: black;
    opacity: 0.3;
    transition: 0.3s;
}
div.menu {
    border: 1px solid;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: blueviolet;
    box-shadow: 10px 10px 15px #00000030;
}
footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}